#udbrand_footer div:nth-of-type(1),
#udbrand_footer div:nth-of-type(2){
  flex: 0 0 49.09091%;
}
#udbrand_footer div:nth-of-type(2){
  margin-top: 50px;
}
#udbrand_footer div:nth-of-type(3){
  flex: 1 0 0%;
  background: #EEE
}
#udbrand_footer {
   padding:1.125em 0 0 0 !important;
}
#udbrand_footer ul {
  list-style: none;
  list-style-image: none;
  margin: 0
}
#yellowbar {
  border: .15em solid #ffd200;
  border-top:none;
  position: relative;
  bottom: 114px;
  width: 100%;
  z-index: -1
}
#ftlogo {
  padding-right:0;
}
#ftlogo > a,
#ftlogo > a:hover {
    border: medium none;
    display: block;
}
#ftlogo img {
  max-width:350px;
}

#ud-legal {
  text-align: center
}
#ud-legal li {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size:10px !important;
  display: inline-block;
  list-style: none inside none !important;
  margin: 0 auto;
  padding:.5em .625em .625em 0;
  line-height: 2
}
#ud-legal li:first-child {
  color:#999
}
#ud-legal a {
  border-bottom: none;
  text-decoration: underline;
  color:#337AB7
}
#sociallinks {
  float:right;
}
#sociallinks li {
  display: inline-block;
  height: 25px;
  margin-right: 10px;
  padding: 0;
  width: 25px;
}
#sociallinks a {
  display: block;
  height: 25px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 25px;
  text-decoration: none;
  border-bottom: none
}
span[data-icon="twitter"]:after,
span[data-icon="facebook"]:after,
span[data-icon="instagram"]:after,
span[data-icon="youtube"]:after,
span[data-icon="pintrest"]:after,
span[data-icon="linkedin"]:after{
  display:block;
  content:'';
  background-color:transparent;
  width: 25px;
  height: 25px;
  -webkit-background-size: cover;
  background-size: cover;
  margin:0 auto;
}
span[data-icon="twitter"]:after {
  background-position: center -50px;
}
span[data-icon="facebook"]:after {
  background-position: center 0px;
}
span[data-icon="instagram"]:after {
  background-position: center -100px;
}
span[data-icon="youtube"]:after {
  background-position: center -150px;
}
span[data-icon="pintrest"]:after {
  background-position: center -200px;
}
span[data-icon="linkedin"]:after {
  background-position: center -250px;
}

@media only screen and (max-width:48em) { /* 768 */
  section > div,
  #udbrand_footer > div{
    flex:0 1 100% !important;
    padding-left:0 !important;
  }
  #udbrand_footer div:nth-of-type(2){
    margin-top:23px;
  }
  #yellowbar {
    bottom:180x;
  }
  #ftlogo,
  #sociallinks {
    text-align:center;
  }
  #sociallinks {
    float:none;
  }
  #udbrand_footer {
    padding: 1em 0 0;
  }
  #sociallinks li {
    display: inline-block;
    height: 50px;
    margin-right: 10px;
    padding: 0;
    width: 50px;
}
  #sociallinks a {
    display: block;
    height: 50px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 50px;
    text-decoration: none;
    border-bottom: none
  }
  span[data-icon="twitter"]:after,
  span[data-icon="facebook"]:after,
  span[data-icon="instagram"]:after,
  span[data-icon="youtube"]:after,
  span[data-icon="pintrest"]:after,
  span[data-icon="linkedin"]:after{
    display:block;
    content:'';
    background-color:transparent;
    width: 50px;
    height: 50px;
    -webkit-background-size: 65% auto;
    background-size: 65% auto;
    margin:0 auto;
  }
  span[data-icon="twitter"]:after {
    background-position: center -55px;
  }
  span[data-icon="facebook"]:after {
    background-position: center 9px;
  }
  span[data-icon="instagram"]:after {
    background-position: center -122px;
  }
  span[data-icon="youtube"]:after {
    background-position: center -186px;
  }
  span[data-icon="pintrest"]:after {
    background-position: center -250px;
  }
  span[data-icon="linkedin"]:after {
    background-position: center -316px;
  }
}
