/**
 * 2016 edits
 */

  /*------------------------------------*\
  * $STRUCTURE
\*------------------------------------*/
#ud-header span {
  display: block;
  margin-top: 5px;
}
#ud-header span a {
  font-family: "Open Sans",sans-serif;
  padding-bottom: 0;
  color: #FFF;
  text-decoration: none;
}
#udbrand_logo a:hover {
  text-decoration: none
}
 #ud-header {
  background: #0048A5 url("../img/ud-seal-cpa.png") no-repeat scroll 50% 0 / contain;
  margin: 0;
  padding: 0;
  overflow: visible;
  border-bottom: 3px solid #FFD300;
  -webkit-transition: height 0.3s ease-in 0s;
  -moz-transition: height 0.3s ease-in 0s;
  -ms-transition: height 0.3s ease-in 0s;
  -o-transition: height 0.3s ease-in 0s;
  transition: height 0.3s ease-in 0s;
}
#ud-header > div {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 10px 0 !important;
}
#udbrand_logo {
  display: block;
  font-size:.1rem;
  color:#000;
  overflow:visible;
  border-bottom:none;
}
.et-fixed-header {
  max-height: 120px !important;
  padding: 10px 0 0 !important
}

@media only screen and (min-width: 61.250em) {/*980*/
  #udbrand_logo img {
    display:inline-flex;
    border: 0 none;
    padding: 0;
    background: none;
    color: #111;
    width:219px;
    height:91px;
    -webkit-transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
    -moz-transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
    -ms-transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
    -o-transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
    transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
  }
}
@media only screen and (min-width: 20em) and (max-width: 61.188em) {/*979*/
  #ud-header, #ud-header > div {
      height: auto;
  }
  #udbrand_logo img {
    display:inline-flex;
    margin:0 auto;
    width: 109.5px;
    height:45.5px;
    -webkit-transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
    -moz-transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
    -ms-transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
    -o-transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
    transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
  }
}
@media only screen and (min-width: 48.938em) and (max-width: 61.188em) {/* 734-979*/
  #ud-header {
    -webkit-background-size: 65% auto;
    background-size: 65% auto;
  }
}
@media screen and (min-width: 48.938em) {
  #ud-header span a {
    font-size: 2vw;
  }
}
@media screen and (min-width: 61.250em) {
  #ud-header span a {
    font-size: 1.25em;
  }
}
