*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
   -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   text-rendering:auto;
   -webkit-text-size-adjust:100%;
   -ms-text-size-adjust:100%;
}
body {
    position:relative;
    padding: 0 !important;
    border: 0 none !important
}
.aligncenter {
    text-align: center !important;
}
#udbrand_logo a:hover {
    text-decoration: none
}

/**
 * 2016 edits
 */
  /*------------------------------------*\
  * $STRUCTURE
\*------------------------------------*/

 #ud-header {
    background: #0048a5 url("../img/ud-seal-cpa.png") no-repeat scroll 50% 0 / contain;
    margin: 0;
    padding: 0;
    overflow: visible;
    border-bottom: 3px solid #ffd300;
    -webkit-transition: height 0.3s ease-in 0s;
    -moz-transition: height 0.3s ease-in 0s;
    -ms-transition: height 0.3s ease-in 0s;
    -o-transition: height 0.3s ease-in 0s;
    transition: height 0.3s ease-in 0s;
}
#ud-header > div {
    width: 100%;
    height: 141px;
    text-align: center;
}
#udbrand_logo {
  font-size:.1rem;
  color:#000;
  margin:0;
  overflow:visible;
  border-bottom:none;
}
  .et-fixed-header {
    max-height: 120px !important;
    padding: 10px 0 0 !important
}

.flex-container{
-ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
    -ms-flex-flow: row wrap;
-webkit-flex-flow: row wrap;
flex-flow: row wrap;
  padding:0 1.125em;
  }
  .flex-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
  .flex-center {
  -webkit-justify-content: center;
  justify-content: center;
}
.space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

@media only screen and (min-width: 61.250em) {/*980*/
    #udbrand_logo img {
        position:relative;
        top:50%;
        border: 0 none;
        padding: 0;
        background: none;
        color: #111;
        width:219px;
        height:91px;
        -webkit-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        transform:translateY(-50%);
        -webkit-transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
        -moz-transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
        -ms-transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
        -o-transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
        transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
}
}
@media only screen and (min-width: 20em) and (max-width: 61.188em) {/*979*/
    #ud-header, #ud-header > div {
        height:   66.9167px;
    }
    #udbrand_logo img {
        position:relative;
        margin:0 auto;
        width: 109.5px;
        height:45.5px;
        top:50%;
        -webkit-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        transform:translateY(-50%);
        -webkit-transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
        -moz-transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
        -ms-transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
        -o-transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
        transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
  }
}
@media only screen and (min-width: 48.938em) and (max-width: 61.188em) {/*979*/
    #ud-header {
        -webkit-background-size: 65% auto;
        background-size: 65% auto;
    }
}